{% extends 'tree/base.html' %}
<li class="list-group-item">
    <strong>Уровень {{ level }}:</strong> {{ employee.full_name }} ({{ employee.position }})
    {% if employee.subordinates.all %}
        <ul class="list-group list-group-flush">
            {% for subordinate in employee.subordinates.all %}
                {% include 'tree/_subordinates.html' with employee=subordinate level=level|add:1 %}
            {% endfor %}
        </ul>
    {% else %}
        <p class="text-muted">Нет подчиненных.</p>
    {% endif %}
</li>
