{% extends 'tree/base.html' %}

{% block content %}
    <h2>Список сотрудников</h2>
    <table class="table">
        <thead>
        <tr>
            <th><a href="?sort=full_name&direction={{ sort_direction }}">Full Name</a></th>
            <th><a href="?sort=position&direction={{ sort_direction }}">Position</a></th>
            <th><a href="?sort=email&direction={{ sort_direction }}">Email</a></th>
            <th><a href="?sort=level&direction={{ sort_direction }}">Level</a></th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody id="employee-table-body">
        {% include 'tree/employee_rows.html' %}
        </tbody>
    </table>
    <button id="load-more" class="btn btn-primary">Load More</button>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            let offset = 200;  // Начальное смещение
            const limit = 200;
            const sort = '{{ current_sort }}';
            const direction = '{{ sort_direction }}';
            let loading = false;
            let allDataLoaded = false;

            function loadMoreData() {
                if (loading || allDataLoaded) return;
                loading = true;

                $.ajax({
                    url: `/employees/?limit=${limit}&offset=${offset}&sort=${sort}&direction=${direction}`,
                    type: "GET",
                    headers: {"X-Requested-With": "XMLHttpRequest"},
                    success: function (data) {
                        const rows = $(data).find('tr');
                        if (rows.length > 0) {
                            $('#employee-table-body').append(rows);
                            offset += limit;
                        } else {
                            allDataLoaded = true;
                            $('#load-more').hide(); // Скрыть кнопку, если больше нет данных
                        }
                        loading = false;
                    },
                    error: function () {
                        loading = false;
                    }
                });
            }

            $('#load-more').on('click', function () {
                loadMoreData();
            });

            // Загрузить первые 200 элементов при загрузке страницы
            loadMoreData();
        });
    </script>
{% endblock %}
