{% extends 'tree/base.html' %}

{% block content %}
    <h2>Список сотрудников</h2>
    <a href="{% url 'employee_add' %}" class="btn btn-success">Добавить сотрудника</a>
    <table class="table">
        <thead>
        <tr>
            <th><a href="?sort=full_name&direction={{ sort_direction }}">Full Name</a></th>
            <th><a href="?sort=position&direction={{ sort_direction }}">Position</a></th>
            <th><a href="?sort=email&direction={{ sort_direction }}">Email</a></th>
            <th><a href="?sort=level&direction={{ sort_direction }}">Level</a></th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for employee in employees %}
        <tr>
            <td>{{ employee.full_name }}</td>
            <td>{{ employee.position }}</td>
            <td>{{ employee.email }}</td>
            <td>{{ employee.level }}</td>
            <td>
                <a href="{% url 'employee_edit' employee.id %}">Edit</a>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
