{% extends 'tree/base.html' %}

{% block title %}Заполнение базы данных{% endblock %}

{% block content %}
<div class="container text-center" style="padding: 100px; ">
    <h1>Заполнение базы данных</h1>
    <p>Нажмите на кнопку ниже, чтобы заполнить базу данных 10 уровнями иерархии. Это добавит 88,572 сотрудников.</p>
    <p>Текущее количество сотрудников в базе данных: <span id="employee-count">{{ employee_count }}</span></p>
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#confirmModal">
        Заполнить базу данных
    </button>
    <!-- Полоса прогресса -->
    <div class="progress mt-4">
        <div id="progress-bar" class="progress-bar" role="progressbar" style="width: 0%;" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">0%</div>
    </div>
    <p id="status-message" class="mt-2"></p>
</div>

<!-- Модальное окно для подтверждения -->
<div class="modal fade" id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="confirmModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="confirmModalLabel">Подтвердите действие</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Вы уверены, что хотите заполнить базу данных? Это действие добавит 88,572 сотрудников иерархии до 10 уровня.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
                <button type="button" class="btn btn-primary" id="confirmButton">Подтвердить</button>
            </div>
        </div>
    </div>
</div>

<script>
document.getElementById('confirmButton').addEventListener('click', function() {
    $('#confirmModal').modal('hide');
    document.getElementById('status-message').textContent = 'Пожалуйста, подождите. Заполнение базы данных...';
    const progressBar = document.getElementById('progress-bar');

    function updateProgress() {
        fetch("{% url 'progress' %}")
        .then(response => response.json())
        .then(data => {
            const percentage = (data.current_count / data.total_count) * 100;
            progressBar.style.width = percentage + '%';
            progressBar.setAttribute('aria-valuenow', percentage);
            progressBar.textContent = Math.floor(percentage) + '%';
            document.getElementById('employee-count').textContent = data.current_count;
            if (data.current_count < data.total_count) {
                setTimeout(updateProgress, 500); // Обновление каждые 500 мс
            } else {
                document.getElementById('status-message').textContent = 'Заполнение базы данных завершено.';
            }
        })
        .catch(error => {
            console.error('Error:', error);
            document.getElementById('status-message').textContent = 'Произошла ошибка при обновлении прогресса.';
        });
    }

    fetch("{% url 'populate_db' %}", {
        method: 'POST',
        headers: {
            'X-CSRFToken': '{{ csrf_token }}',
            'Content-Type': 'application/json'
        },
        body: JSON.stringify({})
    })
    .then(response => response.json())
    .then(data => {
        if (data.status === 'success') {
            updateProgress();
        } else {
            alert('Произошла ошибка при заполнении базы данных');
            progressBar.style.width = '0%';
            progressBar.setAttribute('aria-valuenow', '0');
            progressBar.textContent = '0%';
            document.getElementById('status-message').textContent = 'Произошла ошибка при заполнении базы данных.';
        }
    })
    .catch(error => {
        console.error('Error:', error);
        alert('Произошла ошибка при заполнении базы данных');
        progressBar.style.width = '0%';
        progressBar.setAttribute('aria-valuenow', '0');
        progressBar.textContent = '0%';
        document.getElementById('status-message').textContent = 'Произошла ошибка при заполнении базы данных.';
    });
    updateProgress();
});
</script>
{% endblock %}
